<section id="{{ chapters.tarot_generators.id }}" epub:type="chapter" class="chapter">
    <h1 class="chapter">{{ chapter_number }}: {{ chapters.tarot_generators.title }}</h1>
    <p>Using tarot cards to do lots of things</p>

    <section>
        <h2>Tarot Card Meanings</h2>


        <table class="tarot_table" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="4" class="tarot_table_heading"><p>Major Arcana</p></td>
                </tr>
                {% for card in tarot %}
                    {% if 'major arcana' in card.labels %}
                        <tr>
                            <td class="tarot_table_index" rowspan="2"><p>{{ loop.index }}</p></td>
                            <td class="tarot_table_name" rowspan="2"><p>{{ card.name }}</p></td>
                            <td class="tarot_table_index_upright"><p><em>Upright</em></p></td>
                            <td class="tarot_table_description_upright"><p>{{ card.upright | safe }}</p></td>
                        </tr>
                        <tr>
                            <td class="tarot_table_index_reversed"><p><em>Reversed</em></td>
                            <td class="tarot_table_description_reversed"><p>{{ card.reversed | safe }}</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" class="tarot_table_heading"><p>Wands</p></td>
                </tr>
                {% for card in tarot %}
                    {% if 'wands' in card.labels %}
                        <tr>
                            <td class="tarot_table_index" rowspan="2"><p>{{ loop.index }}</p></td>
                            <td class="tarot_table_name" rowspan="2"><p>{{ card.name }}</p></td>
                            <td class="tarot_table_index_upright"><p><em>Upright</em></p></td>
                            <td class="tarot_table_description_upright"><p>{{ card.upright | safe }}</p></td>
                        </tr>
                        <tr>
                            <td class="tarot_table_index_reversed"><p><em>Reversed</em></td>
                            <td class="tarot_table_description_reversed"><p>{{ card.reversed | safe }}</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" class="tarot_table_heading"><p>Cups</p></td>
                </tr>
                {% for card in tarot %}
                    {% if 'cups' in card.labels %}
                        <tr>
                            <td class="tarot_table_index" rowspan="2"><p>{{ loop.index }}</p></td>
                            <td class="tarot_table_name" rowspan="2"><p>{{ card.name }}</p></td>
                            <td class="tarot_table_index_upright"><p><em>Upright</em></p></td>
                            <td class="tarot_table_description_upright"><p>{{ card.upright | safe }}</p></td>
                        </tr>
                        <tr>
                            <td class="tarot_table_index_reversed"><p><em>Reversed</em></td>
                            <td class="tarot_table_description_reversed"><p>{{ card.reversed | safe }}</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" class="tarot_table_heading"><p>Swords</p></td>
                </tr>
                {% for card in tarot %}
                    {% if 'swords' in card.labels %}
                        <tr>
                            <td class="tarot_table_index" rowspan="2"><p>{{ loop.index }}</p></td>
                            <td class="tarot_table_name" rowspan="2"><p>{{ card.name }}</p></td>
                            <td class="tarot_table_index_upright"><p><em>Upright</em></p></td>
                            <td class="tarot_table_description_upright"><p>{{ card.upright | safe }}</p></td>
                        </tr>
                        <tr>
                            <td class="tarot_table_index_reversed"><p><em>Reversed</em></td>
                            <td class="tarot_table_description_reversed"><p>{{ card.reversed | safe }}</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" class="tarot_table_heading"><p>Pentacles</p></td>
                </tr>
                {% for card in tarot %}
                    {% if 'pentacles' in card.labels %}
                        <tr>
                            <td class="tarot_table_index" rowspan="2"><p>{{ loop.index }}</p></td>
                            <td class="tarot_table_name" rowspan="2"><p>{{ card.name }}</p></td>
                            <td class="tarot_table_index_upright"><p><em>Upright</em></p></td>
                            <td class="tarot_table_description_upright"><p>{{ card.upright | safe }}</p></td>
                        </tr>
                        <tr>
                            <td class="tarot_table_index_reversed"><p><em>Reversed</em></td>
                            <td class="tarot_table_description_reversed"><p>{{ card.reversed | safe }}</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        
    </section>
</section>