/* Layout styles */
body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    /* background-color: #f4f4f4; */
}

.container {
    background-color: #fff;
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 2rem;
    box-sizing: border-box;
}

article {
    page-break-before: always;
}
