html {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    /* font-size: 62.5%; */
    /* background-color: #f4f4f4; */
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    padding: 0;
    font-size: 100%;
    position: relative;
    text-rendering: optimizelegibility;
    /* line-height: 1; */
}

.container {
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-sizing: border-box;
}

article {
    page-break-before: always;
}

#toc > ul > li {
    margin-bottom: 1.5em;
    margin-left: 0;
}

#toc ul {
    list-style: none;
    margin: 0;
}


section.chapter {
    margin-bottom: 4.5em;
}

section.subchapter {
    margin-bottom: 3em;
}

section.subchapter:last-of-type {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
