html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: relative;
    text-rendering: optimizelegibility;
    font-size: 1em;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-family: 'IC Century'*/
}

h1 {
    font-weight: 100;
    font-size: 6rem;
    line-height: 10.8rem;
    margin: 1.8rem 0 0 3.6rem;
    padding: 0;
}


h2 {
    font-weight: 200;
    font-size: 3rem;
    line-height: 4.8rem;
    margin: 1.8rem 0 0 0;
    padding: 0rem 0 0rem 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ol li, ul li {
    margin: 0 0 0 3.6rem;
    padding: 0 0 0 0;
}

li li {
    margin-left: 1.8rem;
}

p, li {
    font-size: 2rem;
    line-height: 3.6rem;
}

li p {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    display: block;
    border-width: 0;
}

section {
    padding: 0 0 3.6rem 3.6rem;
    width: 48rem;
}

#container {
    margin: 0 auto;
}

#content {
    /* margin: 0 3.6rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}



@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1280px) {

}

/**
 * {@Link https://stackoverflow.com/questions/58087446/}
 */

/* 2340x1080 pixels at 476ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 12rem;
        line-height: 21.2rem;
    }
    
    h2 {
        font-size: 6rem;
        line-height: 9.6rem;
        margin: 3.6rem 0 0 0;
    }

    ol li {
        margin-left: 7.2rem;
    }

    p, li {
        font-size: 4rem;
        line-height: 7.2rem;
    }

    #content {
        /* margin: 0 3.6rem; */
        display: block;
    }
    
    section {
        width: auto;
        padding-right: 3.6rem;
    }
}

/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3){
    h1 {
        font-size: 12rem;
        line-height: 21.2rem;
    }
    
    h2 {
        font-size: 6rem;
        line-height: 9.6rem;
        margin: 3.6rem 0 0 0;
    }

    ol li {
        margin-left: 7.2rem;
    }

    p, li {
        font-size: 4rem;
        line-height: 7.2rem;
    }

    #content {
        /* margin: 0 3.6rem; */
        display: block;
    }
    
    section {
        width: auto;
        padding-right: 3.6rem;
    }
}

/* 2778x1284 pixels at 458ppi */
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {
    h1 {
        font-size: 12rem;
        line-height: 21.2rem;
    }
    
    h2 {
        font-size: 6rem;
        line-height: 9.6rem;
        margin: 3.6rem 0 0 0;
    }

    ol li {
        margin-left: 7.2rem;
    }

    p, li {
        font-size: 4rem;
        line-height: 7.2rem;
    }

    #content {
        /* margin: 0 3.6rem; */
        display: block;
    }
    
    section {
        width: auto;
        padding-right: 3.6rem;
    }
}

